<h2 class="content-block">An error occurred while the server was processing your request.</h2>

<div class="content-block dx-card responsive-paddings">
    To display detailed information about the error, set the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong> and restart the app.
    <br /><br />
    <strong>The Development environment should not be enabled for deployed applications</strong> because it provides users access to exceptions that can contain sensitive information.
</div>