
ASP.NET/SampleApp/obj/SampleApp.csproj.nuget.g.targets
ASP.NET/SampleApp/obj/SampleApp.csproj.nuget.g.props
ASP.NET/SampleApp/obj/SampleApp.csproj.nuget.dgspec.json
ASP.NET/SampleApp/obj/project.nuget.cache
ASP.NET/SampleApp/obj/project.assets.json
ASP.NET/SampleApp/obj/Debug/netcoreapp3.1/SampleApp.RazorAssemblyInfo.cs
ASP.NET/SampleApp/obj/Debug/netcoreapp3.1/SampleApp.RazorAssemblyInfo.cache
ASP.NET/SampleApp/obj/Debug/netcoreapp3.1/SampleApp.csprojAssemblyReference.cache
ASP.NET/SampleApp/obj/Debug/netcoreapp3.1/SampleApp.assets.cache
ASP.NET/SampleApp/obj/Debug/netcoreapp3.1/SampleApp.AssemblyInfoInputs.cache
ASP.NET/SampleApp/obj/Debug/netcoreapp3.1/SampleApp.AssemblyInfo.cs
ASP.NET/SampleApp/obj/Debug/netcoreapp3.1/project.razor.json
ASP.NET/SampleApp/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ASP.NET/.vs/SampleApp/v16/.suo
ASP.NET/.vs/SampleApp/DesignTimeBuild/.dtbcache.v2
ASP.NET/.vs/SampleApp/config/applicationhost.config
node_modules/
