<dx-data-grid
  #grid
  [dataSource]="{ store: this.employeeStore }"
  [showBorders]="true"
  [repaintChangesOnly]="true"
>
  <dxo-data-grid-editing
    [allowUpdating]="true"
    [allowAdding]="true"
    [allowDeleting]="true"
    [useIcons]="true"
    mode="popup"
  >
  </dxo-data-grid-editing>
  <dxi-data-grid-column
    dataField="FirstName"
    dataType="string"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="LastName"
    dataType="string"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="BirthDate"
    dataType="date"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="Position"
    dataType="string"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="HireDate"
    dataType="date"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="Address"
    dataType="string"
  ></dxi-data-grid-column>
  <dxi-data-grid-column type="buttons">
    <dxi-data-grid-button
      name="edit"
      [onClick]="editRow"
    ></dxi-data-grid-button>
    <dxi-data-grid-button name="delete"></dxi-data-grid-button>
  </dxi-data-grid-column>
  <dxo-data-grid-toolbar>
    <dxi-data-grid-toolbar-item location="after">
      <div *dxTemplate>
        <dx-button icon="plus" (onClick)="addRow()"></dx-button>
      </div>
    </dxi-data-grid-toolbar-item>
  </dxo-data-grid-toolbar>
</dx-data-grid>

<dx-popup
  *ngIf="visible"
  [title]="isNewRecord ? 'Add' : 'Edit'"
  [hideOnOutsideClick]="true"
  height="auto"
  [visible]="true"
  onHiding="hidePopup"
>
  <dxi-popup-toolbar-item
    widget="dxButton"
    location="after"
    toolbar="bottom"
    [options]="{
      text: 'Confirm',
      type: 'success',
      onClick: confirmChanges
    }"
  >
  </dxi-popup-toolbar-item>
  <dxi-popup-toolbar-item
    widget="dxButton"
    location="after"
    toolbar="bottom"
    [options]="{
      text: 'Cancel',
      onClick: hidePopup
    }"
  >
  </dxi-popup-toolbar-item>

  <div *dxTemplate="let data of 'content'">
    <dx-form [validationGroup]="validationGroupName" [formData]="formData">
      <dxi-form-item itemType="group" [colCount]="2">
        <dxi-form-item dataField="FirstName">
          <dxi-form-validation-rule
            type="required"
            message="First Name is required."
          ></dxi-form-validation-rule>
          <dxo-form-label template="name"></dxo-form-label>
        </dxi-form-item>
        <dxi-form-item
          dataField="Position"
          editorType="dxSelectBox"
          [editorOptions]="positionEditorOptions"
        >
          <dxo-form-label template="position"></dxo-form-label>
        </dxi-form-item>
        <dxi-form-item dataField="LastName">
          <dxi-form-validation-rule
            type="required"
            message="Last Name is required."
          ></dxi-form-validation-rule>
          <dxo-form-label template="name"></dxo-form-label>
        </dxi-form-item>
        <dxi-form-item dataField="Address">
          <dxo-form-label template="address"></dxo-form-label>
        </dxi-form-item>
        <dxi-form-item dataField="BirthDate" editorType="dxDateBox">
          <dxi-form-validation-rule
            type="required"
            message="Birth Date is required."
            invalidDateMessage="The date must have the following format: mm/dd/yyyy"
          ></dxi-form-validation-rule>
          <dxo-form-label template="date"></dxo-form-label>
        </dxi-form-item>
        <dxi-form-item dataField="HireDate" editorType="dxDateBox">
          <dxo-form-label template="date"></dxo-form-label>
        </dxi-form-item>
        <dxi-form-item
          dataField="Notes"
          editorType="dxTextArea"
          [editorOptions]="notesEditorOptions"
          [colSpan]="2"
        >
          <dxo-form-label template="notes"></dxo-form-label>
        </dxi-form-item>
        <dxi-form-item dataField="Phone" [editorOptions]="phoneEditorOptions">
          <dxi-form-validation-rule
            type="required"
            message="Phone number is required."
          ></dxi-form-validation-rule>
          <dxo-form-label template="phone"></dxo-form-label>
        </dxi-form-item>
        <dxi-form-item dataField="Email">
          <dxi-form-validation-rule
            type="email"
            message="Email is incorrect."
          ></dxi-form-validation-rule>
          <dxo-form-label template="email"></dxo-form-label>
        </dxi-form-item>
      </dxi-form-item>

      <ng-container *ngFor="let label of labelTemplates">
        <div *dxTemplate="let data of label.name">
          <div><i class="dx-icon {{ label.icon }}"></i>{{ data.text }}</div>
        </div>
      </ng-container>

      <div *dxTemplate="let data of 'notes'">
        <div id="template-content">
          <i id="helpedInfo" class="dx-icon dx-icon-info"></i>
          Additional
          <br />
          {{ data.text }}
        </div>

        <dx-tooltip
          target="#helpedInfo"
          showEvent="mouseenter"
          hideEvent="mouseleave"
        >
          <div *dxTemplate="let data = data; of: 'content'">
            <div id="tooltip-content">
              This field must not exceed 200 characters
            </div>
          </div>
        </dx-tooltip>
      </div>
    </dx-form>
  </div>
</dx-popup>
